<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PiperUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PiperUI.Properties.Settings>
            <setting name="RememberSelectedPageItems" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CustomDropDown" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Voice" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Quality" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="PlaybackSpeed" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Prompt" serializeAs="String">
                <value />
            </setting>
        </PiperUI.Properties.Settings>
    </userSettings>
</configuration>